@use '../utils' as *;

.header-logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

.photograph-header {
    background-color: $lightGrey;
    height: 300px;
    margin: 0 100px;
    justify-self: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;

    & img {
        height: 200px;
        width: 200px;
        object-fit: cover;
        border-radius: 100px;
        order: 99;
    }
    
    & h1 {
        color: $color-secondary;
        font-size: 64px;
        font-weight:500;
        margin-bottom: 0;
    }

    & p {
        margin: 0;
    }

    * .citycountry {
        color: $color-primary;
        font-size: 24px;
        font-weight: 400;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    & p.tagline {
        font-size: 1.125rem;
    }
}  


.photograph-header p.price{
  color: #757575;
  font-size: 9px;
}