.opacity-if-modale.visible{
  display: unset;
}
.header-render.visible{
  display: flex;
}
.opacity-if-modale.invisible, .header-render.invisible{
  display: none;
}

#contact_modal {
    display: none;
}
  
.modal {
  position: absolute;
  top: 80px;
  left: 25%;
  border-radius: 5px;
  background-color: $color-secondary;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;

  & header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    width: 100%;
    margin-bottom: 30px;

    & img {
      cursor: pointer;
    }
    & h2, h3 {
      font-size: 50px;
      font-weight: normal;
      text-align: center;
      margin: 0px;
    }
  }
}


.title-form{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}


form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;

  & label {
    color: #312E2E;
    font-size: 36px;
  }

  & div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
  }

  & input.text-control{
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
    font-size: 22px;
  }

  & textarea.text-area{
    width: 100%;
    border: none;
    border-radius: 5px;
    font-size: 22px;  
  }

}
